language: c

os:
  - linux
  - osx

sudo: false

addons:
  apt:
    packages:
      - openjdk-8-jdk
      - curl
      - cmake

compiler:
  - gcc
  - clang

sudo: required
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./.travis-setup-linux.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./.travis-setup-osx.sh; fi

osx_image: xcode9.2

install: true

script: ./.travis-ci.sh
